# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Maven
target/

# Local Environment & Secrets
application-local.properties
*.local.properties
.env

# Word & Office Documents
*.docx
~$*.docx
*.pdf
docs/
