# macOS
.DS_Store
*.pem

# IntelliJ IDEA
.idea/
*.iml

# Node & Dependencies
node_modules/
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*

# Expo & Mobile
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro & TypeScript
.metro-health-check*
*.tsbuildinfo

# Maven
target/

# Local Environment & Secrets
application-local.properties
*.local.properties
.env
.env*.local

# Word & Office Documents
*.docx
~$*.docx
*.pdf
docs/
